<ion-view view-title="Messaging">
    <ion-content  >

      <!-- HEADER -->
  <div style="color:white; text-align: center; background: #005596 url(img/uwinBannerBG.png) repeat 0 0; vertical-align: middle;
    line-height: 50px;   font-size: 15px;  " >
      <span style="margin-left:50px"> </span>
      <span  style="">Analytics </span>
    <button type="button" class="btn btn-default" ng-click="openstoremodal2()" style="line-height: 20px;
      background: #005596 url(img/uwinBannerBG.png) repeat 0 0;  border-style: none; float: right; font-size: 25px; margin-top:5px; margin-right:10px">
      <span style="color:white" class="glyphicon glyphicon-plus"></span>
    </button>
  </div>

  <h1 class="bob3" style="text-align:center;"> <u>Analytics </u></h1>


<div class="container table-responsive" ng-show="numberLinesAnalytics">
  <h2 class="bob3" style="text-align: center;">People Data</h2>
  <p style="text-align: center;">This shows the data for the people in Lines in Each Store</p>
  <ul class="nav nav-tabs"  style="text-align:center;">
    <li class="active" style=" width:50%;"><a data-toggle="tab" ng-click="positionButton()" href="">PEOPLE DATA</a></li>
    <li style=" width:50%;"><a data-toggle="tab" href="" ng-click="displacementButton()">USER DATA</a></li>
  </ul>

  <table class="table-responsive table-striped">
    <thead>
      <tr>
        <th  style="text-align: center; background-color: black; color: white; border: 1px solid black; border-collapse: collapse;">
          Identification</th>
        <th style="text-align: center; background-color: black; color: white; border: 1px solid black; border-collapse: collapse;">
          Email</th>
        <th style="text-align: center; background-color: black; color: white; border: 1px solid black; border-collapse: collapse;">
          Store</th>
      <th  style="text-align: center; background-color: black; color: white; border: 1px solid black; border-collapse: collapse;">
        Line</th>
        <th  style="text-align: center; background-color: black; color: white; border: 1px solid black; border-collapse: collapse;">
          Created</th>
      </tr>
    </thead>
    <tbody>
      <tr style="" ng-repeat="usercontent in usercontents | filter:search | orderBy:'usercontent._id'">
        <td style="width:25%; text-align: center; max-width:200px; border: 1px solid black; border-collapse: collapse;">{{ usercontent._id }}</td>
        <td style="width:25%; text-align: center;  border: 1px solid black; border-collapse: collapse;">{{ usercontent.email }}</td>
        <td style="width:25%; text-align: center; max-width:200px; border: 1px solid black; border-collapse: collapse;">{{ usercontent.store }}</td>
        <td style="width:25%; text-align: center;  border: 1px solid black; border-collapse: collapse;">{{ usercontent.line }}</td>
        <td style="width:25%; text-align: center;  border: 1px solid black; border-collapse: collapse;">{{ usercontent.created }}</td>
      </tr>

    </tbody>
  </table>
</div>



<div class="container table-responsive"  ng-hide="numberLinesAnalytics">
  <h2 class="bob3" style="text-align: center;">User Data</h2>
  <p style="text-align: center;">This shows the data for the people that in Database</p>
  <ul class="nav nav-tabs"  style="text-align:center;">
    <li class="active" style=" width:50%;"><a data-toggle="tab" ng-click="positionButton()" href="">PEOPLE DATA</a></li>
    <li style=" width:50%;"><a data-toggle="tab" href="" ng-click="displacementButton()">USER DATA</a></li>
  </ul>
  <table class="table table-striped">
    <thead>
      <tr>
        <th  style="text-align: center; background-color: black; color: white; border: 1px solid black; border-collapse: collapse;">
          Identification</th>
        <th style="text-align: center; background-color: black; color: white; border: 1px solid black; border-collapse: collapse;">
          Email</th>
        <th style="text-align: center; background-color: black; color: white; border: 1px solid black; border-collapse: collapse;">
          Firstname</th>
      <th  style="text-align: center; background-color: black; color: white; border: 1px solid black; border-collapse: collapse;">
        Lastname</th>
      </tr>
    </thead>
    <tbody>
      <tr  style="" ng-repeat="usercontent in usercontents | filter:search | orderBy:'usercontent._id'">
        <td style="width:25%; text-align: center; max-width:200px; border: 1px solid black; border-collapse: collapse;">{{ usercontent._id }}</td>
        <td style="width:25%; text-align: center;  border: 1px solid black; border-collapse: collapse;">{{ usercontent.email }}</td>
        <td style="width:25%; text-align: center;  border: 1px solid black; border-collapse: collapse;">{{ usercontent.firstname }}</td>
        <td style="width:25%; text-align: center; max-width:200px; border: 1px solid black; border-collapse: collapse;">{{ usercontent.lastname }}</td>
      </tr>
    </tbody>
  </table>
</div>


<div style="margin-bottom:40px;">
</div>

<div  style="background-color: #686868  ; height: 40px; ">
</div>


</ion-content>
</ion-view>
