<ion-view view-title="Line">
  <ion-content   >


<div>
  <div style="color:white; text-align: center; background: #005596 url(img/uwinBannerBG.png) repeat 0 0;
   vertical-align: middle; line-height: 50px;   font-size: 15px; " >
    <span > </span>
    <span  style="">&nbsp;  </span>
   </div>

  <br>


  <!--   <h1 class="" style="text-align: center; font-size: 60px; margin:0 " > University of Windsor   </h1> -->

     <img   style=" margin-left: auto; margin-right: auto; display: block;
      font-size:50px; height: 100px; width: 250px;" src="img/uwindLogo33.png" >

<hr style="width: 80%;">

      <div  style="background-color: #686868  ; height: 500px; ">
        <br><br>

    <!-- #005596 #4881ea;

    #uwin-heading {
        background: #005596 url(../images/theme/uwinBannerBG.png) repeat 0 0;
        height: 102px
    }

     <img  class="img-circle" style=" margin-left: auto; margin-right: auto;
      display: block; border-bottom: 6px solid black; border-left: 6px solid black;" src="img/images-3.jpeg" >
    -->
      <img   style=" margin-left: auto; margin-right: auto; display: block;
       weight:300px; height:200px;  border-radius: 25px; border-color:red" src="img/peopleline.jpeg" >

      <div class="row">
        <div class="col-*-*"></div>
        <div> </div>
      </div>


     <div class="bob3" style="width:300px; margin: 0 auto; margin-top:15px;">
         <br> <br>
         <a href="#/signup" type="button" style="width:300px;   " class="btn btn-primary">
           <span  style="font-size: 25px; color:gold;"> Sign Up </span>
         </a>

         </br> </br>
         <a  type="button" href="#/login" style="width:300px; margin: 0 auto; " class="bob3 btn btn-primary">
           <spans  style="font-size: 25px; color:gold;"> Log In </span>
         </a>
     </div>

    <!-- <i class="fa fa-youtube-play" style="font-size:48px;"></i>   -->
     <!--
     <div style="padding-left: 25px; padding-right:25px">
     <table style="width:100%; text-align:center; margin-top:50px;  ">

        <tr style=" text-align:center; ">
          <td style="width:15%"><a href="https://twitter.com/uwindsor" ><i class="fa fa-twitter" style="font-size:20px;"></i></a></td>
         <td style="width:15%"><a href="https://www.facebook.com/UWindsor/" ><i class="fa fa-facebook" style="font-size:20px;"></i> </a></td>
         <td style="width:15%"><a href="https://www.linkedin.com/groups/38761" ><i class="fa fa-linkedin" style="font-size:20px;"></i> </a></td>
         <td style="width:15%"><a href="https://www.flickr.com/groups/uwindsor" ><i class="fa fa-flickr" style="font-size:20px;"></i> </a></li>
         <td style="width:15%"><a href="https://www.youtube.com/user/uwindsor" ><i class="fa fa-youtube-play" style="font-size:20px;"></i> </a></td>
         <td style="width:15%"><a href="https://instagram.com/uwindsor/" ><i class="fa fa-instagram" style="font-size:20px;"></i> </a></td>

       </tr>
      </table>
    </div>


     <ul class="center-block">
           <li><a href="https://twitter.com/uwindsor" target="_blank" title="Follow us on Twitter"><i class="fa fa-twitter" style="font-size:40px;"></i></a></li>
           <li><a href="https://www.facebook.com/UWindsor/" target="_blank" title="Follow us on Facebook"><i class="fa fa-facebook" style="font-size:40px;"></i> </a></li>
           <li><a href="https://www.linkedin.com/groups/38761" target="_blank" title="Follow us on LinkedIn"><i class="fa fa-linkedin" style="font-size:40px;"></i> </a></li>
           <li><a href="https://www.flickr.com/groups/uwindsor" target="_blank" title="Follow us on Flickr"><i class="fa fa-flickr" style="font-size:40px;"></i> </a></li>
           <li><a href="https://www.youtube.com/user/uwindsor" target="_blank" title="Follow us on Youtube"><i class="fa fa-youtube-play" style="font-size:40px;"></i> </a></li>
           <li><a href="https://instagram.com/uwindsor/" target="_blank" title="Follow us on Instagram"><i class="fa fa-instagram" style="font-size:40px;"></i> </a></li>
     </ul>
   -->
 </div>



</ion-content >
</ion-view>
