<ion-view view-title="Browse">
  <ion-content >
<!--
<br><br>
<div class="form-group row">
  <div class="col-xs-3">
      <label for="ex1">Email: jarredl</label>
      <input class="form-control" id="ex1"   ng-model="firstname" type="text">
  </div>
  <div class="col-xs-3">
      <label for="ex2">Password: paassword2</label>
      <input class="form-control" id="ex2"   ng-model="lastname" type="text">
  </div>
  <div class="col-xs-4">
      <button style="margin-top:30px" ng-click="ServiceFunction2()" > Login</button>
  </div>
</div>

<button ng-click="fbPass()">Press Me.</button>

<button ng-click="Pass2()">Deal.</button> <br><br>

<button ng-click="setLocal()">SET LOCAL STORAGE</button> <br>
<button ng-click="getLocal()">SHOW LOCAL STORAGE</button> <br>
<button ng-click="removeLocal()">REMOVE PROJECT</button> <br>
<button ng-click="getLocalbyKey()">GET BY KEY</button> <br>


<table class="table table-bordered" >
          <tr>
              <th>#</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
          </tr>
          <tr ng-repeat="item in foodItems" ng-class="{'selected':$index == 0}" >
                   ........
              <td>{{$index}}</td>
               <td>{{item.name}}</td>
              <td>{{item.price}}</td>
              <td>{{item.quantity}}</td>
          </tr>
      </table>
-->
<!--https://thawing-ocean-11742.herokuapp.com/signup22 -->


<div class="form-group">
  <label for="comment">Comment:</label>
  <textarea class="form-control" rows="5" ng-model="dataExample" id="comment"></textarea>
</div>

<button class="center-block btn btn-primary btn-lg" ng-click="pushArray(dataExample)">PassData</button>





<button ng-click="Servicefacebook()" style=" margin-top:50px;">LoginStuff22</button>


<button ng-click="gettoken()">Get Token</button>

<button ng-click="back()">Back</button>

<br><br>

<button ng-click="blueboy()">blueboy</button>

<br><br>


<button ng-click="getNotif()">GET TOKEN</button>

{{getToken}}


<br><br>

<button ng-click="Servicefacebook()">sendHttpFirebase44</button>


<br><br>

<button ng-click="sendFirebasehttp12()">sendFirebasehttp12</button>


<br><br>

<button ng-click="sendFirebasehttp99()">sendFirebasehttp99</button>


<br><br>


<a href="https://thawing-ocean-11742.herokuapp.com/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
<a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
</ion-content>
</ion-view>
