<div class="row">
    <div class="col-md-4 col-md-offset-4">

      <div ng-show="successMessage2" class="alert alert-success">
        <strong>{{successnote}}</strong>  
      </div>

      <div ng-show="failedMessage2"  class="alert alert-danger" style="text-align:center">
        <strong >{{failedData2}}</strong>
      </div>

        <h3>Email Password Reset</h3>
        <p>In order to verify your identity and reset your password, please provide the token you recieved from your email.</p>
        <form>
          <div class="form-group">
              <label for="token">Input Token</label>
              <input type="text"  class="form-control" ng-model="resetToken" autofocus>
          </div>

            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" class="form-control" ng-model="password" autofocus>
            </div>

            <div class="form-group">
                <label for="newPasswordRepeat">Repeat Password</label>
                <input type="password" id="newPasswordRepeat" class="form-control" ng-model="passwordRepeat">
            </div>

            <button class="center-block btn btn-primary btn-lg" ng-click="resetForgottenPassword( password, passwordRepeat, resetToken)" ng-disabled="password !== passwordRepeat">Reset Password</button>
        </form>
    </div>
</div>
