<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>901561854903-4ggmafcos21cedfdt99mucspabms2hah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901561854903-4ggmafcos21cedfdt99mucspabms2hah</string>
	<key>API_KEY</key>
	<string>AIzaSyDh2MAsmeu_8CCXkOB-hV8MhfK0sxhM_88</string>
	<key>GCM_SENDER_ID</key>
	<string>901561854903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tested.myapp2439485068</string>
	<key>PROJECT_ID</key>
	<string>fleet-authority-182015</string>
	<key>STORAGE_BUCKET</key>
	<string>fleet-authority-182015.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901561854903:ios:b2a71c2f5d3cc3db</string>
	<key>DATABASE_URL</key>
	<string>https://fleet-authority-182015.firebaseio.com</string>
</dict>
</plist>