<ion-modal-view>
  <ion-header-bar style=" margin-top:50px;">
    <h1 class="title bob3" style="font-size: 30px; text-align:center "> PeopleLine Information </h1>
    <div class="buttons">
      <button class="button button-clear" style="color:black;" ng-click="closepeoplemodal1()">Close</button>
    </div>
  </ion-header-bar style=" margin-top:50px;">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">

        <!------- PAGE INFO --------->
              <div class="bob3 item item-text-wrap" style="font-size: 25px; text-align:center;">
              <u>  Please either: </u> <br><br>
                1) Add Yourself to line  <br>
                2) Select a Person
              </div>

              <!------- ADD YOURSELF --------->
                <div class="bob3 item item-text-wrap" style="font-size: 25px; text-align:center;">
                  <u> Add Yourself to line </u> <br><br>
                  Email: {{useremail || "Unknown"}}<br>

                <!--    {{fullName || "Full Name"}} {{userdata.facebook.name}}<br>

                  ID: {{userid || "User ID"}}<br>
                  NotificationToken: {{usertoken || "User Token"}}<br>

                  <p id="demo2" style="font-weight: bold;"></p>  -->
                  Displacement: {{finalCalc}}

                  <div style="font-size: 20px;   text-align:center "> <br>
                Press to Add to Table:  <br>
                <button type="button" style="width:200px" ng-click="addPeopletoDB()" data-dismiss="modal" class="btn btn-primary">Add Data</button> <br>

                  </div>

                </div>


                <div class="bob3 item item-text-wrap" style="font-size: 25px; text-align:center;">
                  <u> Auto Messaging  </u> <br><br>
                    Use this button to Automate the messaging process for lineup  <br> <br>
                    <div>
                         <div ng-switch on="selected">
                             <button class="btn btn-primary" ng-switch-when='true' ng-click='button1()'>On</button>
                             <button class="btn btn-primary" ng-switch-when='false' ng-click='button2()'>Off</button>
                         </div>
                     </div>

                </div>

                <div class="bob3 item item-text-wrap" style="font-size: 25px; text-align:center;">
                  <u> Add a Wait Time  </u> <br><br>
                    Use this button to add a wait time for Your particular Lineup:  <br> <br>

                    <div class="bar bar-header item-input-inset" >
                      <label class="item-input-wrapper"  >
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input type="number" ng-model="message.time"  placeholder="Please add a Wait Time">
                      </label>
                      <button class="button button-clear" ng-click="addWait_time()" style="color:black">
                        Wait Time
                      </button>
                    </div>
                </div>


              <!------- ADD NAME TO LINEUP IF YOUR ADMINISTRATOR --------->
                <div class="bob3 item item-text-wrap" style="font-size: 25px; text-align:center;">
                  <u>Add Name </u><br><br>
                  As Administrator you can Add Name to Lineup in certain Position:
                </div>

                <div class="bar bar-header item-input-inset">
                    <label class="item-input-wrapper" >
                      <i class="icon ion-ios-search placeholder-icon"></i>
                      <input type="number" ng-model="addnameLine.line"  placeholder="Line Position">
                    </label>

                 </div>

                <div class="bar bar-header item-input-inset" >
                     <label class="item-input-wrapper" >
                      <i class="icon ion-ios-search placeholder-icon"></i>
                      <input type="text" ng-model="addnameLine.person"  placeholder="Line Position">
                    </label>
                     <button class="button button-clear" ng-click="addpersonAfter()" style="color:black">
                      Add
                    </button>
                </div>

                <br>


                <!------- DELETE MODE! --------->
                <div class="bob3" style="font-size: 20px;   text-align:center ">
                  Press to Enter Delete Mode  <br>
                  <button type="button" style="width:200px;" ng-click="deleteMode()" data-dismiss="modal" class="btn btn-danger">Delete Mode</button> <br>
                </div>

      </div>
    </div>


  </ion-content>
</ion-modal-view>
