<ion-modal-view>
  <ion-header-bar style=" margin-top:50px;">
    <h1 class="title bob3" style="font-size: 30px; text-align:center "> Add Yourself to Postion </h1>
    <div class="buttons">
      <button class="button button-clear" style="color:black;" ng-click="closepeoplemodal3()">Close</button>
    </div>
  </ion-header-bar style=" margin-top:50px;">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">


          <div>
            <div class="bob3 item item-text-wrap" style="font-size: 25px; "> <br>
              As Administrator you can Add Name to Lineup in certain Position:  <br>
            </div>
          </div>

          <div class="bar bar-header item-input-inset">
              <label class="item-input-wrapper" >
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" ng-model="addnameLine.line"  placeholder="Please add a Store Name">
              </label>
              {{addnameLine.line}}
              <button class="button button-clear" ng-click="addpersonAfter()" style="color:black">
                Add
              </button>
          </div>

          <!--
          <div class="modal-footer">
              <div style="font-size: 20px;   text-align:center ">
                  Press to Add to Table:  <br>
                  <button type="button" style="width:400px" ng-click="addPeopletoDB()" data-dismiss="modal" class="btn btn-primary">Add Data</button> <br>
              </div>
          </div>
        -->
    </div>
  </div>
  </ion-content>
</ion-modal-view>
