<ion-modal-view>
      <ion-header-bar style=" margin-top:50px;">
        <h1 class="title bob3" style="font-size: 30px; text-align:center;  ">Storenames Information</h1>
        <div class="buttons">
          <button class="button button-clear" style="color:black" ng-click="closestoremodal1()">Close</button>
        </div>
      </ion-header-bar>
      <ion-content style=" margin-top:50px;">
          <div class="card">
            <div class="item item-text-wrap">
                <div class="bob3 " style="font-size: 25px; text-align:center">
                  <u>Please either:</u> <br><br>
                  1) Select a specified store  <br>
                  2) Create another store  <br>
                  3) Search for Store Using Help menu icon (+)  at top right  <br>

                </div>
                <hr>

                <div class="bob3 " style="font-size: 25px; text-align:center ">
                  <div ng-if="wordspace" style="margin-top:30px; margin-bottom:30px">
                    {{words}}
                  </div>
                  {{latitude}}
                  {{longitude}}
                  <br>
                  <div id="loader"></div>
                  <button ng-if="wordspace" ng-click="findGPS();">GetLocation</button>
                </div>

            </div>
          </div>
      </ion-content>
</ion-modal-view>
